@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: #0b0f1a;
    font-family: Montserrat, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    color: #c8d3e0;
    font-size: 50px;
    text-align: center;
    margin: 20px;
    margin-top: 13vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    min-height: 400px;
    margin: 40px auto;
    gap: 16px;
    padding: 20px;
    box-sizing: border-box;
}

p:first-of-type {
    color: bisque;
    font-size: 25px;
    text-align: center;
    margin: 10px;
}

input{
    border-radius: 8px;
    min-height: 30px;
    color: #2f3e56;
    background-color: beige;
}
select, option{
    border-radius: 8px;
    min-height: 30px;
    color: bisque;
    background-color: #2f3e56;
    width: 160px;
    text-align: center;
}
p{
    color: bisque;
    font-size: 20px;
    text-align: center;
}
#converter-btn{
    background-color: #2f3e56;
    color: black;
    height: 30px;
    width: 150px;
    border-radius: 10px;
}